In [2]:
import numpy
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
raw_data = pd.read_csv('Customer_Data.csv')

In [13]:
raw_data.head()

,customer_id,age,gender,country,monthly_visits,amount_spent,joined_year
0,1,51,Male,South Africa,6,17.29,2016
1,2,64,Male,UK,5,22.02,2016
2,3,41,Female,Kenya,3,30.64,2018
3,4,27,Male,South Africa,2,56.95,2020
4,5,55,Female,Kenya,7,30.75,2016

In [8]:
# Check for missing values
raw_data.isnull().sum()

customer_id       0
age               0
gender            0
country           0
monthly_visits    0
amount_spent      0
joined_year       0
dtype: int64

In [9]:
# Check for duplicates
raw_data.duplicated().sum()

np.int64(0)

In [10]:
# Remove duplicates
raw_data = raw_data.drop_duplicates()

In [ ]:
# Check if Country columns have consistent spellings
raw_data['country'].unique()

array(['South Africa', 'UK', 'Kenya', 'USA', 'Nigeria', 'Ghana'],
      dtype=object)

In [ ]:
# Check if Gender have consistent spellings
raw_data['gender'].unique()

array(['Male', 'Female', 'Other'], dtype=object)

In [14]:
# Covert Year Joined to datetime format
raw_data['joined_date'] = pd.to_datetime(raw_data['joined_year'].astype(str) + '-01-01')

In [16]:
# Calculate number of years as customer
raw_data['years_as_customer'] = 2025 - raw_data['joined_year']

In [17]:
raw_data

,customer_id,age,gender,country,monthly_visits,amount_spent,joined_year,joined_date,years_as_customer
0,1,51,Male,South Africa,6,17.29,2016,2016-01-01,9
1,2,64,Male,UK,5,22.02,2016,2016-01-01,9
2,3,41,Female,Kenya,3,30.64,2018,2018-01-01,7
3,4,27,Male,South Africa,2,56.95,2020,2020-01-01,5
4,5,55,Female,Kenya,7,30.75,2016,2016-01-01,9
...,...,...,...,...,...,...,...,...,...
4995,4996,62,Other,UK,6,39.91,2024,2024-01-01,1
4996,4997,34,Other,USA,7,113.14,2016,2016-01-01,9
4997,4998,41,Other,UK,2,171.06,2024,2024-01-01,1
4998,4999,34,Male,Ghana,6,31.84,2016,2016-01-01,9
4999,5000,56,Other,South Africa,3,12.59,2016,2016-01-01,9